In [42]:
import pandas as pd 
dfCHUS = pd.read_excel('DEXCHUS.xls', sheet_name='FRED Graph', skiprows=10, header=0)
dfJPUS = pd.read_excel('DEXJPUS.xls', sheet_name='FRED Graph', skiprows=10, header=0)
dfUSEU = pd.read_excel('DEXUSEU.xls', sheet_name='FRED Graph', skiprows=10, header=0)

In [20]:
dfCHUS["DEXCHUS"].mean()

6.150996628352491

In [21]:
dfCHUS["DEXCHUS"].std()

1.2805637064919215

In [22]:
dfCHUS["DEXCHUS"].var()

1.639843406384328

In [34]:
# dfCHUS['DEXCHUS'].plot(kind='bar')

In [39]:
dfCHUS.describe()

           DEXUSEU
count  1305.000000
mean      1.147308
std       0.256500
min       0.000000
25%       1.101500
50%       1.141000
75%       1.294800
max       1.392700

In [40]:
dfJPUS.describe()

           DEXJPUS
count  1305.000000
mean    105.624115
std      22.813217
min       0.000000
25%     102.300000
50%     109.370000
75%     115.420000
max     125.580000

In [41]:
dfUSEU.describe()

           DEXUSEU
count  1305.000000
mean      1.147308
std       0.256500
min       0.000000
25%       1.101500
50%       1.141000
75%       1.294800
max       1.392700

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt